<?xml version="1.0" encoding="utf-8" ?> 

<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=AutoFactory;Integrated Security=True"/>
    <add name="OlegConnect" connectionString="Data Source=localhost;Initial Catalog=AutoFactory;Integrated Security=True"/>
</connectionStrings>
